:root {
    --grid-template-columns: 16;
    --grid-template-rows: 16;

}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font */

@font-face {
    font-family: title;
    src: url(./font/lotsofdotz.regular.ttf);
  }

/* body */

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #70E5FF, #83FED2, #ffe259, #ffa751);
	animation: gradient 15s ease infinite;
    background-size: 700% 700%;
}

/* card */

.big-card {
    margin: auto;
    background-color: white;
    padding: 2rem 2.5rem 1.5rem 2.5rem;
    border-radius: 30px;
    display: flex;
    box-shadow: 3px 5px 10px 5px rgb(0 0 0 / 30%);
    gap: 3rem;
}

/* control buttons */

.control {
    display: flex;
    flex-direction: column;
    margin-top: 5.2rem;
}

.color {
    margin-bottom: 1.5rem;
}
.resolution {
    margin-top: 5rem;
}
.control, 
.color,
.resolution {
    font-size: .875rem;
    text-align: center;
    
}

.slide-container {
    width: 100%;
    margin: 1.3rem 0 5.3rem 0;
}
.slide-container p {
    margin-top: 1rem;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 10px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: black;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
  
.control button {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1rem;
    padding: .5rem 2.5rem;
    margin: .5rem 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

/* panel */

.panel h1 {
    font-family: title;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
/* grid */

.grid-square {
    background-color: white;
    border: 1px dotted #ebebeb;
}

#container-grid {
    width: 600px;
    height: 600px;
    border: 2px solid black;
    border-radius: 5px;
    display: inline-grid;
    grid-template-columns: repeat(var(--grid-template-columns), 2fr);
    grid-template-rows: repeat(var(--grid-template-rows), 2fr);
}

/* hover */

button:hover {
    /* background-color: black; */
    /* color: white; */
    box-shadow: 3px 2px 20px 1px rgb(0 0 0 / 30%);
    transform: scale(1.1);
}

.slider:hover {
    opacity: 1;
    transform: scale(1.1);
}

/* button pressed */
button:focus {
    background-color: black;
    color: white;
}
/* animations */


  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}